body {

   text-align: center;
   background-color: grey;
   background-image: url(images/fondecran);   
   }  
h2 {
  color: red ;
  font-family: font-family: 'Source Serif Pro', serif;
   }
   body {
  font-size: 30px;
	line-height: 1.8;
	letter-spacing: 1px;
}

   body {
  font-weight: lighter;
	font-weight: normal;
	font-weight: bold;
	font-weight: bolder;
 }  

.card-white {
  background-color: white;
  border-radius:10%;
  padding:20px;
  margin-bottom: 10px;
  box-shadow: 00 50px 30px 
}

#avatar {
  border-radius: 50%;
}

#avatar1{
  border-radius: 50%;
}

#avatar2 {
  border-radius: 50%;
}

#avatar3{
  border-radius: 50%;
}


.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  }


